
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Preguntas</title>
	    <meta name="viewport" content="width=device.width, initial-scale=1">
    	
    	<link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    	
	   	<link rel='stylesheet' type='text/css' media='only screen and (max-width: 480px)'
    	href='/stylesheets/smartphone.css' />
	
	</head>

	</head>
	<body>
		<header>
	        <%if(!session.user){%>
	          <span class="right"><a href="/login">Login</a></span>
	        <%}else{%>
	          <span class="right"> <%=session.user.username%> <br/><a href="/logout">Logout</a></span>
	        <%}%>
				<h2>Quiz<span>: el juego de las preguntas</span></h2>
			</span>
			
		</header>

		<div id='main'>
        
        	<nav>
				<span>
					<a href="/">Inicio</a>
					<a href="/quizes">Preguntas</a>
					<a href="/quizes/statistics">Estadísticas</a>
					<a href="/author">Creditos</a>
				</span>
			</nav>

	        <section>
	          	<% if (errors.length) { %>
	            	<span id='ErrorMsgs'>
	            	Corregir errores:<br/>
	              	<% for (var i in errors) { %>
	                <span> <%= errors[i].message %> </span><br/>
	              	<% } %>
	            	</span>
	          	<% } %>

		        <div><%- body %></div>

			</section>
	
		</div>

	    <footer>
    	    <a href="http://es.wikipedia.org/wiki/Quiz">
        		¿Que es un Quiz?</a><br/>
        	<a href="https://github.com/mcarques/quiz-2015">
         	 	Ver el repositorio en Github</a>
		</footer>
	</body>
</html>