body             { background: red; }

h2 span, label.rem	{ display: none; }
body,               { font-size: large; }
section > div		{ font-size: smaller;}
button, input		{ font-size: smaller;}
footer		        { font-size: large; }