	body, html {
			font-size: xx-large;
		}
	#main {	flex-direction: column;	}
	#main nav { flex-basis: 10%; }
	#main section { flex-basis: 90%; }
	#main nav span {
		flex-direction: row;
	   	justify-content: space-around;
	}
	header h2 span { display: none;}
	#quizTipo, input, label, button { font-size: xx-large;}