*    { margin: 0; padding: 0; }
body { 
	font: 16px Georgia, serif; 
	background: orange;
	height: 100%;
	width: 100%;}

#adjust	        	 { margin: 2% auto; color: white; }
#adjust > .main      { border: 1px solid #999; padding: 1%; 
	                   margin-bottom: 1px; color: black;}

section > div        { padding: 20px; }
header, nav, section { background: #eee; text-align: center;}
table	  		     { margin: auto;}
footer               { background: #eee; text-align: center;}
nav span             { margin: 0px 10px 0px 0px;}
#ErrorMsgs			 { color: #f61; font-size: smaller}