body, html {
	 	background: cyan;
		height: 100%;
		width: 100%;
		margin: 0px;
		padding: 0px;}


#adjust {
	height: 80%;
	display: flex; 
	display: -webkit-flex;
	flex-flow: row;
	margin-top: 3px;
	margin-bottom: 3px;}

#adjust nav { 
	margin-right: 1%;
	flex: auto;}

#adjust section {
	flex: 80%;}

header	{
	height: 10%;
	padding: 0%;}

footer  {
	height: 10%;
	padding: 0%;
	margin-bottom: 0px;	}