<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<h3>Pregunta: <%= quiz.pregunta %> <h3/><p>
	<input type="text" name="respuesta" value="Respuesta"/>
	<input type="submit" value="Enviar">
</form>