<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<h3><%= quiz.pregunta %> <h3/><p>
	<input type="text" name="respuesta" placeholder="Respuesta"/>
	<input type="submit" value="Enviar">
</form>